<!--Blog Sec-->
<section id="blog_sec" class="blog-sec sec-pad-top-sm">
  <h2 class="mb-30">blog</h2>
  <div class="row">
    <div class="col-sm-4 mb-30">
      <div class="mdl-shadow--2dp pa-0">
        <div class="mdl-card__title pa-0">
          <div class="blog-img blog-1"></div>
        </div>
        <div class="mdl-card__supporting-text relative">
          <span class="blog-cat">travel</span>
          <a href="youtube-blog-post.html">
            <h4 class="mt-15 mb-20">Fly High with youtube</h4>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eleifend lacinia...</p>
          <a href="youtube-blog-post.html" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect bg-red mdl-shadow--8dp">
            <i class="zmdi zmdi-youtube-play"></i>
          </a>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <span class="blog-post-date inline-block">21.1.17</span>
          <div class="mdl-layout-spacer"></div>
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mr-5">
            <i class="zmdi zmdi-favorite"></i>
          </button>
          <button id ="share_menu_1" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="zmdi zmdi-share"></i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            data-mdl-for="share_menu_1">
            <li class="mdl-menu__item">Facebook</li>
            <li class="mdl-menu__item">Twitter</li>
            <li class="mdl-menu__item">LinkedIn</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-30">
      <div class="mdl-shadow--2dp pa-0">
        <div class="mdl-card__title pa-0">
          <div class="blog-img blog-2"></div>
        </div>
        <div class="mdl-card__supporting-text relative">
          <span class="blog-cat">photography</span>
          <a href="image-blog-post.html">
            <h4 class="mt-15 mb-20">Iceland live in images</h4>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eleifend lacinia...</p>
          <a href="image-blog-post.html" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect bg-blue mdl-shadow--8dp">
            <i class="zmdi zmdi-image-o"></i>
          </a>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <span class="blog-post-date inline-block">15.1.17</span>
          <div class="mdl-layout-spacer"></div>
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mr-5">
            <i class="zmdi zmdi-favorite"></i>
          </button>
          <button id ="share_menu_2" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="zmdi zmdi-share"></i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            data-mdl-for="share_menu_2">
            <li class="mdl-menu__item">Facebook</li>
            <li class="mdl-menu__item">Twitter</li>
            <li class="mdl-menu__item">LinkedIn</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-30">
      <div class="mdl-shadow--2dp pa-0">
        <div class="mdl-card__title pa-0">
          <div class="blog-img blog-3"></div>
        </div>
        <div class="mdl-card__supporting-text relative">
          <span class="blog-cat">science</span>
          <a href="gallery-blog-post.html">
            <h4 class="mt-15 mb-20">Grand canyon mysteries</h4>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eleifend lacinia...</p>
          <a href="gallery-blog-post.html" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect bg-green mdl-shadow--8dp">
            <i class="zmdi zmdi-collection-image-o"></i>
          </a>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <span class="blog-post-date inline-block">9.1.17</span>
          <div class="mdl-layout-spacer"></div>
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mr-5">
            <i class="zmdi zmdi-favorite"></i>
          </button>
          <button id ="share_menu_3" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="zmdi zmdi-share"></i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            data-mdl-for="share_menu_3">
            <li class="mdl-menu__item">Facebook</li>
            <li class="mdl-menu__item">Twitter</li>
            <li class="mdl-menu__item">LinkedIn</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-20 mb-30">
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  margin-lr-auto view-more" href="blog-list.html">view all</a>
  </div>
</section>
<!--/Blog Sec-->
