<section id="contact">
  <div class="row">
    <div class="container-fluid col-sm-12 text-center">
      <h2>CONTATO</h2>
      <div class="row">

          <div class="col-12">
            <h4>Entre em contato</h4>
            <form  name="contactform"  method="post" role="form">
              <div class="form-group">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input autocomplete="off" class="mdl-textfield__input" type="text" id="inputName" name="inputName" required>
                  <label class="mdl-textfield__label" for="inputName">Nome*</label>
                </div>
              </div>
              <div class="form-group">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input autocomplete="off" class="mdl-textfield__input" type="email" id="inputEmail" name="inputEmail" required>
                  <label class="mdl-textfield__label" for="inputEmail">E-mail*</label>
                </div>
              </div>
              <div class="form-group">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <textarea  class="mdl-textfield__input"  rows="3" id="inputMessage" name="inputMessage" required></textarea>
                  <label class="mdl-textfield__label" for="inputMessage">Mensagem*</label>
                </div>
              </div>
              <div class="form-group">
                <div class="align-center">
                  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-blue font-white" data-ng-disabled="submitButtonDisabled">
                    ENVIAR MENSAGEM
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div class="col-lx-12">
            <div id="map_canvas"></div>
          </div>

        </div>
      </div>
    </div>
</section>
    <!--/Contact Sec-->
