<!--Experience Sec-->
<section id="experience_sec" class="experience-sec sec-pad-top-sm">
  <h2 class="mb-30">experience</h2>
  <div class="timeline-wrap  overflow-hide mb-30">
    <ul class="timeline">
      <li>
        <div class="timeline-badge">
          <i class="zmdi zmdi-case font-blue"></i>
        </div>
        <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-blue">
          <div class="timeline-heading">
            <h4 class="mb-10">UI/UX Designer</h4>
            <span class="duration mb-5">Mar 2014 - present</span>
            <span class="institution">Fakebook</span>
          </div>
          <div class="timeline-body">
            <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge">
          <i class="zmdi zmdi-format-color-text font-green"></i>
        </div>
        <div class="timeline-panel mdl-card mdl-shadow--2dp  pt-30 pb-30 border-top-green">
          <div class="timeline-heading">
            <h4 class="mb-10">Art Director</h4>
            <span class="duration mb-5">Jul 2013 — Mar 2014</span>
            <span class="institution">hencework</span>
          </div>
          <div class="timeline-body">
            <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-badge">
          <i class="zmdi zmdi-city-alt font-yellow"></i>
        </div>
        <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-yellow">
          <div class="timeline-heading">
            <h4 class="mb-10">Graphic Designer</h4>
            <span class="duration mb-5">Jan 2013 – Jul 2013</span>
            <span class="institution">Sagmeester</span>
          </div>
          <div class="timeline-body">
            <p class="mt-25">Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
          </div>
        </div>
      </li>
      <li class="clearfix no-float"></li>
    </ul>
  </div>
</section>
<!--/Experience Sec-->
