<section id="portfolio_sec" class="portfolio-sec sec-pad-top-sm">
  <div class="row">
    <div class="container-fluid col-sm-12 text-center">
      <div class="mdl-card">
      <h2 class="mb-30">FACEBOOK</h2>
      <%= @creator.facebook_embed.html_safe %>
    </div>
    </div>
  </div>
</section>
