<section id="facebook">
  <div class="row">
    <div class="container-fluid col-sm-12 text-center">
      <h2>FACEBOOK</h2>
      <%= @creator.facebook_embed.html_safe %>
    </div>
  </div>
</section>
