<section id="experience_sec" class="experience-sec sec-pad-top-sm">
  <div class="row">
    <div class="container-fluid col-sm-12 text-center">
      <div class="mdl-card">
      <h2 class="mb-30">INSTAGRAM</h2>
      <%= @creator.instagram_embed.html_safe %>
    </div>
    </div>
  </div>
</section>
