<!--Portfolio Sec-->
<section id="portfolio_sec" class="portfolio-sec sec-pad-top-sm">
  <div class="mb-15">
    <h2 class="pull-left float-none-xs">portfolio</h2>
    <div class="filter-wrap pull-right float-none-xs">
      <!-- Portfolio Filters -->
      <ul id="filters">
        <li><a id="all" href="#" data-filter="*" class="active">all</a></li>
        <li><a href="#" data-filter=".branding">branding</a></li>
        <li><a href="#" data-filter=".design">design</a></li>
        <li><a href="#" data-filter=".photography">photo</a></li>
        <li><a href="#" data-filter=".web">web</a></li>
      </ul>
      <!--/Portfolio Filters -->
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="gallery-wrap mb-30">
    <div class="portfolio-wrap project-gallery">
      <ul id="portfolio" class="portf auto-construct  project-gallery" data-col="3">
        <li  class="item mdl-card mdl-shadow--2dp pa-0 branding">
          <div class="light-img-wrap mdl-card__title pa-0">
            <img class="img-responsive" src="img/gallery1.jpg"  alt="Image description" />
            <div class="light-img-overlay"></div>
            <span class="img-cap">good morning</span>
          </div>
          <span class="bottom-links mdl-card__actions">
            <a id="goto_box_1" href="#"><i class="zmdi zmdi-eye"></i></a>
            <a href="project-detail.html"><i class="zmdi zmdi-format-subject"></i></a>
          </span>
        </li>
        <li class="item mdl-card mdl-shadow--2dp pa-0  photography">
          <div class="light-img-wrap mdl-card__title pa-0">
            <img class="img-responsive" src="img/gallery2.jpg"  alt="Image description" />
            <div class="light-img-overlay"></div>
            <span class="img-cap">Grand Canyon</span>
          </div>
          <span class="bottom-links mdl-card__actions">
            <a id="goto_box_2" href="#"><i class="zmdi zmdi-eye"></i></a>
            <a href="project-detail.html"><i class="zmdi zmdi-format-subject"></i></a>
          </span>
        </li>
        <li class="item mdl-card mdl-shadow--2dp pa-0 design">
          <div class="light-img-wrap mdl-card__title pa-0">
            <img class="img-responsive" src="img/gallery3.jpg"  alt="Image description" />
            <div class="light-img-overlay"></div>
            <span class="img-cap">iceland</span>
          </div>
          <span class="bottom-links mdl-card__actions">
            <a id="goto_box_3" href="#"><i class="zmdi zmdi-eye"></i></a>
            <a href="project-detail.html"><i class="zmdi zmdi-format-subject"></i></a>
          </span>
        </li>
        <li class="item mdl-card mdl-shadow--2dp pa-0 web">
          <div class="light-img-wrap mdl-card__title pa-0">
            <img class="img-responsive" src="img/gallery4.jpg"  alt="Image description" />
            <div class="light-img-overlay"></div>
            <span class="img-cap">serenity</span>
          </div>
          <span class="bottom-links mdl-card__actions">
            <a id="goto_box_4" href="#"><i class="zmdi zmdi-eye"></i></a>
            <a href="project-detail.html"><i class="zmdi zmdi-format-subject"></i></a>
          </span>
        </li>

        <li class="item mdl-card mdl-shadow--2dp pa-0 design">
          <div class="light-img-wrap mdl-card__title pa-0">
            <img class="img-responsive" src="img/gallery5.jpg"  alt="Image description" />
            <div class="light-img-overlay"></div>
            <span class="img-cap">world seize day</span>
          </div>
          <span class="bottom-links mdl-card__actions">
            <a id="goto_box_5" href="#"><i class="zmdi zmdi-eye"></i></a>
            <a href="project-detail.html"><i class="zmdi zmdi-format-subject"></i></a>
          </span>
        </li>
        <li class="item mdl-card mdl-shadow--2dp pa-0 branding">
          <div class="light-img-wrap mdl-card__title pa-0">
            <img class="img-responsive" src="img/gallery6.jpg"  alt="Image description" />
            <div class="light-img-overlay"></div>
            <span class="img-cap">green bugs</span>
          </div>
          <span class="bottom-links mdl-card__actions">
            <a id="goto_box_6" href="#"><i class="zmdi zmdi-eye"></i></a>
            <a href="project-detail.html"><i class="zmdi zmdi-format-subject"></i></a>
          </span>
        </li>

      </ul>
      <!-- Hidden video div -->
      <div style="display:none;" id="video1">
        <video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
          <source src="video/video1.mp4" type="video/webm">
          <source src="video/video1.webm" type="video/webm">
           Your browser does not support HTML5 video.
        </video>
      </div>
    </div>
  </div>
</section>
<!--/Portfolio Sec-->
