<section id="skills_sec" class="skills-sec sec-pad-top-sm">
  <div class="row">
    <div class="container-fluid col-sm-12 text-center">
      <div class="mdl-card">
      <h2 class="mb-30">STREAM</h2>
      <%= @creator.stream_embed.html_safe %>
    </div>
    </div>
  </div>
</section>
