<section id="twitter">
  <div class="row">
    <div class="container-fluid col-sm-12 text-center">
      <h2>TWITTER</h2>
      <div class="twitter-box">
      <%= @creator.twitter_embed.html_safe %>
      </div>
    </div>
  </div>
</section>
