<section id="twitter">
  <div class="row">
    <div class="container-fluid col-sm-12 text-center">
      <h2>TWITTER</h2>
      <% @tweets.each do |tweet| %>

        <div class="twitter-box card">
          <div class="card-body">
          <%= tweet.full_text %>  
          </div>
        </div>
      
      <% end %>
    </div>
  </div>
</section>
