<section id="twitch">

    <div id="post" class="col col-12 container-fluid">
      <h2>TWITCH</h2>

          <!-- Add a placeholder for the Twitch embed -->
          <div id="twitch-embed"></div>

          <!-- Load the Twitch embed script -->
          <script src="https://embed.twitch.tv/embed/v1.js"></script>

          <!--
            Create a Twitch.Embed object that will render
            within the "twitch-embed" root element.
          -->
          <script type="text/javascript">
            var embed = new Twitch.Embed("twitch-embed", {
              width: "100%",
              height: 480,
              <% if @creator.twitch.split('/')[-1] == '' %>
                channel: "+<%= @creator.twitch %>+",
              <% else %>
                channel: "+<%= @creator.twitch.split('/')[-1] %>+",
              <% end %>
              layout: "video",
              autoplay: false,
              // only needed if your site is also embedded on embed.example.com and othersite.example.com
              parent: ["embed.example.com", "othersite.example.com"]
            });

            embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
              var player = embed.getPlayer();
              player.play();
            });
          </script>



    </div>

</section>
