<section id="references_sec" class="references-sec sec-pad-top-sm">
  <div class="row">
    <div class="container-fluid col-sm-12 text-center">
      <div class="mdl-card">
      <h2 class="mb-30">TWITTER</h2>
      <%= @creator.twitter_embed.html_safe %>
    </div>
    </div>
  </div>
</section>
