<section id="youtube">
  <div class="row">
    <div class="container-fluid col-sm-12 text-center">
      <h2 class="mb-30">YOUTUBE</h2>
      <%= @creator.youtube_embed.html_safe %>
    </div>
  </div>
</section>
