@charset "UTF-8";
/*------------------------------------------------------------------
[Master Stylesheet]
Project:	Matresume
++++ Imports ++++
++++ Reset ++++
++++ Main ++++
	1)Header
	2)about
	3)Hero BG
	4)Skills Sec
	5)Profile Sec
	6)Portfolio Sec
	7)Interest Sec
	8)Timeline
	9)Blog Sec
	10)Reference Sec
	11)Client Sec
	12)Pricing Sec
	13)contact Sec
	14)Footer Sec
	15)Navigation Sec
	16)Blog & Project Deatail Pages
++++ Mediaqueries ++++
-------------------------------------------------------------------*/
/****************************/
/** Imports **/
/****************************/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
@import url(material.min.css);
@import url(material-icons.css);
@import url(material-design-iconic-font.min.css);
@import url(bootstrap.min.css);
@import url(jquery-ui.min.css);
@import url(owl.carousel.css);
@import url(lightgallery.css);
@import url(default-skin/default-skin.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css);


/****************************/
/** Reset **/
/****************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html, body {
  height: inherit;
  width: inherit;
  min-height: inherit;
  background-image: url(../../img/bg_body.png);
  background-position: bottom;
  background-repeat: repeat-x;
}

footer {
  bottom: 0;
}

strong {
  font-weight: bold; }

body {
  color: #848484;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  overflow-y: auto;
  overflow-x: hidden;
}
/* Mozilla based browsers */
::-moz-selection {
  background: #338fff;
  color: #fff;
  text-shadow: none; }

/* Works in Safari */
::selection {
  background: #338fff;
  color: #fff;
  text-shadow: none; }

a:hover, a:active {
  outline: 0; }

button:focus {
  border: none;
  outline: 0; }

ul {
  list-style: none; }

a {
  color: #848484;
  text-decoration: none; }

a:hover {
  color: #848484;
  text-decoration: none; }

a:focus {
  color: #848484;
  text-decoration: none;
  outline: none; }

i:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  color: #444; }

h1 {
  font-size: 42px;
  line-height: 42px;
  text-transform: capitalize; }

h2 {
  font-size: 24px;
  line-height: 35px;
  text-transform: capitalize; }

h3 {
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize; }

h4 {
  font-size: 18px;
  line-height: 29px;
  text-transform: capitalize; }

h5 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase; }

p {
  font-size: 15px;
  line-height: 25px; }
  p.lead {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400; }

.force-UTF-8 {
  content: "¡"; }

header{
  position: relative;
  padding: 8px;
  display: block;
}
header ul.menu-top{
  position: relative;
  float: right;
  display: inline;
}

.inline{
  position: relative;
  display: inline;
}
.inline li{
  display: inline;
}
header .menu-top{
  line-height: 35px;
}
header .menu-top li{
  padding: 0px 10px;
}
header .menu-top li a{
  font-style: Roboto;
  font-size: .9em;
  color: #333;
}
#main {
  padding: 80px 0px;
}
#main .box-search{
  position: relative;
  width: 70%;
  padding-top: 6px;
  margin: auto;
  border-radius: 3px;
  border: solid 1px #CCC;
  display: block;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}
#main .box-search input{
  border:none;
  padding: 4px;
  width: 100%;
  font-size: 1.6em;
  font-weight: 300;
}
#main .box-search button{
  border:none;
  background: transparent;
  color: #CCCCCC;
  padding: 4px;
  height: 40px;
  width: 100%;
  font-size: 1.6em;
  font-weight: 300;
}
#main .box-search button:hover{
  color: #888888;
}

#main h4{
  font-family: Roboto;
  font-size: 1em;
  color: #444444;
}
#main .blocks{
  padding: 0px;
}
#main .blocks .block-blogs{
  padding: 20px 0px;
}
#main .blocks .block-blogs .carousel-blogs{
  position: relative;
  list-style: none;
}
#main .blocks .block-blogs .carousel-blogs li h6{
  font-size: .9em;
  font-family: Roboto;
  color: #333;
  font-weight: 300;
  text-align: center;
}
#main .blocks .block-blogs .carousel-blogs .box{
  border-radius: 4px;
  border: solid 1px #999;
  height: 160px;
  position: relative;
  display: block;
  background: #FFFFFF;
  padding: 0px 0px;
}

#main .blocks .block-blogs .carousel-blogs img{
  height: 100%;
  position: relative;
  width: 100%;
}

#main .blocks .block-blogs .carousel-blogs .box:hover{
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


#main .blocks .block-posts{
  padding: 20px 0px;
}

#main .blocks .block-posts .carousel-posts{
  position: relative;
  list-style: none;
}
#main .blocks .block-posts .carousel-posts li h6{
  font-size: .9em;
  font-family: Roboto;
  color: #333;
  font-weight: 300;
  text-align: center;
}
#main .blocks .block-posts .carousel-posts .box{
  border-radius: 4px;
  border: solid 2px #CCC;
  height: 160px;
  position: relative;
  display: block;
  background: #FFFFFF;
  padding: 0px 0px;
}


#main .blocks .block-posts .carousel-posts img{
  height: 100%;
  position: relative;
  width: 100%;
}

#main .blocks .block-posts .carousel-posts .box:hover{
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.about {
  padding: 30px;
  background: #FFFFFF;
}
.p-10{
  padding: 10px;
}
.p-20{
  padding: 20px;
}
.p-30{
  padding: 30px;
}
.pv-20{
  padding: 20px 0px;
}
.mt-10{
  margin: 10px 0px;
}
.mt-40{
  margin: 40px 0px;
}
.mh-20{
  margin: 0px 20px;
}


.blog-header{
  background: transparent;
}

.blog-header input[type=search]{
  position: relative;
  padding: 3px;
  background: rgba(0,0,0,0.4);
  border:none;
  border-radius: 50px;
  font-size: 13px;
  text-indent: 4px;
  width: 100%;
}
.blog-header #search button{
  position: absolute;
  background: transparent;
  border: none;
  color: #FFFFFF;
  right: 20px;
  top: 2px;
}
.blog-header input[type=search]::-webkit-input-placeholder { /* Edge */
  color: #EEEEEE;
}

.blog-header input[type=search]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #EEEEEE;
}

.blog-header input[type=search]::placeholder {
  color: #EEEEEE;
}

.blog-content .about ul.social-icons{
  position: relative;
  display: inline;
  text-align: center;
  margin: auto;
  width: 100%;
}
.blog-content .about ul.social-icons li{
  position: relative;
  display: inline;
  text-align: center;
  padding: 8px;
}
.blog-content .about ul.social-icons li a{
  position: relative;
  text-align: center;
  font-size: 22px;
}
.blog-content .about h1{
  color: #222;
  margin: 20px 0px;
}
.blog-content .about h5{
  color: #888;
}
.blog-content .about ul.profile-wrap li{
  position: relative;
  width: 100%;
  display: inline-block;
  font-size: 1.2em;
}
.blog-content .about ul.profile-wrap .profile-title{
  float: left;
  margin-right: 10px;
  color: #333;
}
.blog-content .about ul.profile-wrap .profile-desc{
  float: left;
}
.blog-content .about .declaration {
  font-size: 1.4em;
}

.blog-content .nav-menu {
  background: #FFF;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  border-top: 2px #FFC300 solid;
}
.blog-content .nav-menu .nav{
  margin: auto;
}
.blog-content .nav-menu .nav li{
  text-transform: uppercase;
  margin: auto;
}

.blog-content .box-content {
  position: relative;
  padding: 20px 0px 50px 0px;
  background: #FFFFFF;
  margin-top: 8px;
}
.blog-content .box-content h2 {
  padding: 30px;
  font-size: 2.em;
  color: #777777;
}

.blog-content .box-content .twitter-box {
  width: 100%;
  position: relative;
  max-width: 600px;
  margin: auto;
}
.blog-content .box-content .not-found {
  position: relative;
  padding: 30px;
  font-size: 2.em;
  color: #777777;
  min-height: 400vh;
}

.blog-content .nav-menu-blog {
  background: #FFFFFF;
  padding: 10px;
  margin-top: 20px;
  text-align: right;
  border-top: 2px #FFC300 solid;
}
.blog-content .nav-menu-blog .name {
  float: left;
  padding: 8px;
}
.blog-content .nav-menu-blog .name i{
  margin-right: 6px;
}
.blog-content .nav-menu-blog .name a{
  font-size: 1.1em;
  color: #777777;
}

.blog-content h2.title-blog {
  padding: 30px;
  font-size: 2.3em;
  color: #777777;
}
#blog .item-blog{
  position: relative;
  background: #FFFFFF;
  padding: 15px;
}
#blog a.button-ico-blog{
  width: 50px;
  height: 50px;
  line-height: 50px;
  background:  #0091d0;
  float: right;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  margin-top: -115px;
  margin-right: 15px;
}
#blog a.button-ico-blog:hover{
  background:  #015e87 ;
}
#blog .box-image{
  z-index: 0;
}

#blog .box-texts{
  z-index: 2;
  padding: 10px;
}
#blog .share-blog-item{
  position: relative;
  display: inline;
  text-align: center;
  float: right;
  font-size: .9em;
}

#blog .share-blog-item li{
  position: relative;
  display: inline;
  padding: 10px;
}
#blog .share-blog-item li a:hover{
  COLOR: #0091d0;
}
.pgnavigation{
  position: relative;
  width: 100%;
  font-size: 1.5em;
}

#post{
  position: relative;
  background: #FFFFFF;
}
#post ul.datecredits{
  position: relative;
  margin: auto;
  display: inline;
  text-align: center;
  font-size: .9em;
}
#post ul.datecredits li{
  position: relative;
  display: inline;
  text-align: center;
  padding: 0px 10px;
}
#post ul.datecredits li i{
  margin-right: 8px;
}
#post .read{
  position: relative;
  margin-top: 30px;
}
