<br>
<div class="text-center"><a href="#"><img class="img-fluid" src="logo.png" alt="logo" /></a></div>
<hr>
<div class="col-sm text-center">
  <p><strong>O World of Warcraft morreu?</strong></p>
</div>
<br>
<div class="col-sm text-center">
  <h1 class="text-danger"><span class="timeel timeRefDays"><strong>NÃO</strong></span></h1>
</div>
<hr />
<div class="countup" id="countup1">
<div class="col-sm text-center"><p>Estamos a <span class="days"></span> dias vivos e com melhor jogo já feito</p></div>
</div>
<hr />
<div class="col-sm text-center">
<p>Lembre-se, é você quem faz sua diversão... quanto a nós, enquanto existir WoW estaremos ON!</p>
<p>Quer saber mais sobre o World of Warcraft? Acompanhe os geradores de conteúdo que fazem de um tudo para o JOGO jamais morrer</p>
<br />
<a href="elfa.html" target="_blank"><img style="width: 100px; height: auto;" src="elfa.png" alt="logo" /></a>
<a href="rod.html" target="_blank"><img style="width: 100px; height: auto;" src="rod.png" alt="logo" /></a>
<a href="coja.html" target="_blank"><img style="width: 100px; height: auto;" src="coja.png" alt="logo" /></a>
<a href="sess.html" target="_blank"><img style="width: 100px; height: auto;" src="sess.png" alt="logo" /></a>
<a href="tri.html" target="_blank"><img style="width: 100px; height: auto;" src="tri.png" alt="logo" /></a><br/><br />
<a href="pvplab.html" target="_blank"><img style="width: 100px; height: auto;" src="pvplab.png" alt="logo" /></a>
<a href="g4.html" target="_blank"><img style="width: 100px; height: auto;" src="g4.png" alt="logo" /></a>
</div>
