<div class="row">
  <div class="col-lg-4 col-lg-offset-4 well">
  </div>
  <div class="col-lg-4 col-lg-offset-4 well" style="margin-top:120px;">
    <div class="text-center">
      <img class="img-fluid" style="width: 250px; height:auto;" alt="Responsive image" src="https://gamershall.gg/logo.png">
    </div>
    <br>
    <p>Olá, <%= @user.name %></p>

    <p>Seu perfil de gerador(a) de conteúdo foi aprovado<p/>
    <p>Acesse <a href="gamershall.gg/panel">aqui</a> para concluir seu cadastro de gerador.
  </div>
</div>
