<div class="card" style="padding: 10px;">
  <div class="row no-gutters">
    <div class="col-md-1">
      <%= image_tag("/img/user_anonymous.jpg", class: "card-img", style: "height: 100px; width: 100px;") %>
    </div>
    <div class="col-md-11">
      <div class="card-body">
        <div class="col-sm-11">
          <p class="card-title">Autor: <strong>Anônimo</strong> <%= time_ago_in_words(anonymous_comment.created_at) %></p>
          <p class="card-text"><%= anonymous_comment.commentary %></p>
        </div>

        <% if @current_user == anonymous_comment.blog.creator.user %>
          <%= link_to 'Apagar', [anonymous_comment.blog, anonymous_comment], method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-danger" %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<br>
