<div class="card-header">Perfil de criador - Seguidores</div>
<div class="card-body">
    <h2 class="lead"><strong class="text-danger"><%= @followers.count %></strong> seguidor<%= 'es' if @followers.count > 1 %></h2>

    <section class="col-xs-12 col-sm-6 col-md-12">
      <%= render @followers %>
    </section>
</div>
