 @import "bootstrap";
 body {
    background: url("../patterns/pat_17.png") repeat scroll 0 0 transparent;
    color: #070200;
  	line-height: 22px;
  	text-shadow: 1px 1px #f9f9f9;
  	font-family: 'Open Sans Condensed', 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  }
