<p>Olá<%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Seu email foi alterado <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Seu email foi alterado <%= @resource.email %>.</p>
<% end %>
